@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: #5f5f5f; */
}

/* Nav Bar */
.navigation {
  display: flex;
  justify-content: center;
}

.navigation .nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 33px 26px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  max-width: 1200px;
}

.snow-logo {
  /* 193x75 */
  width: 90px;
  height: 35px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  font-size: 14px;
  list-style-type: none;
  margin: 15px;
  cursor: pointer;
  color: #ccc;
  transition: 0.2s ease-in;
}

.nav-menu li:hover {
  color: #fff;
}

/* Home */
#home {
  /* height: calc(100vh - 113px); */
  height: 100vh;
  position: relative;
}

.home-bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("images/home-7.jpg");
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.55);
}

.home-container .home-titles {
  text-align: center;
  margin-bottom: 120px;
  color: #fff;
}

.home-container .home-titles h3 {
  font-size: 13px;
  letter-spacing: 2px;
}
.home-container .home-titles h1 {
  font-size: 50px;
  margin-top: 20px;
}
.home-container .home-titles h2 {
  font-size: 45px;
}

.home-container .down-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-size: 17px;
  font-weight: lighter;
  color: #ddd;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 65px;
  transition: 0.3s ease;
}

.home-container .down-btn i {
  transform: translateY(10%);
}

.home-container .down-btn:hover {
  border: 1px solid #fff;
  color: #fff;
}

/* About */
#about {
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-agency-container {
  background-color: #fff;
  width: 100%;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.about-agency-container .about-title {
  font-size: 40px;
}

.about-agency-container .about-description {
  margin: 30px 0;
  width: 60%;
  text-align: center;
  word-break: keep-all;
  letter-spacing: 0.004rem;
  word-spacing: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  color: #666;
}

.about-props-container {
  background-color: #222;
  width: 100%;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex wrap 아닌 듯? 4-> 2 -> 1 이렇게 감 */
  flex-wrap: wrap;
  padding-top: 100px;
}

.about-props-container .about-prop {
  display: flex;
  color: #fff;
  width: 210px;
  margin: 15px 0;
}

.about-prop i {
  font-size: 2.7rem;
  margin-right: 20px;
}

.about-prop .prop-props .prop-num {
  font-size: 1.25rem;
  font-weight: 500;
}

.about-prop .prop-props .prop-name {
  font-size: 0.97rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.004rem;
}

/* Project */
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.project-container .project-title {
  margin-top: 80px;
  font-size: 40px;
}

.project-container .project-description {
  margin: 30px 0 40px 0;
  width: 60%;
  text-align: center;
  word-break: keep-all;
  letter-spacing: 0.004rem;
  word-spacing: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  color: #666;
}

.project-lists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
  justify-content: center;
}

.project-lists .list {
  width: 310px;
  height: 310px;
  cursor: pointer;
  position: relative;
}

/* ????? 위로 어떻게 덮지 js로 해야하나 */
.project-lists .list:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.project-testimonial {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-testimonial .testimonial-feedback {
  background: url("images/bg-pattern.jpg");
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.project-testimonial .testimonial-feedback .feedback-wrap {
  margin-top: 160px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 800px;
  cursor: pointer;
}

.project-testimonial
  .testimonial-feedback
  .feedback-wrap
  .feedback-description {
  font-size: 1.685rem;
  line-height: 1.45;
  margin-bottom: 1.15rem;
  text-align: center;
}

.project-testimonial .testimonial-feedback .feedback-wrap .feedback-talker {
  font-size: 0.96rem;
  text-align: center;
}
.project-testimonial .testimonial-feedback .button-container {
  margin-bottom: 50px;
}

.button-container .count-btn {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: none;
  cursor: pointer;
  margin: 1px;
}

.project-testimonial .testimonial-examples {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  cursor: pointer;
}

.project-testimonial .testimonial-examples .example {
  width: 192px;
  height: 128px;
}

/* BLog */
#blog {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.blog-container .blog-title {
  margin-top: 80px;
  font-size: 40px;
}

.blog-container .blog-description {
  margin-top: 30px;
  width: 60%;
  text-align: center;
  word-break: keep-all;
  letter-spacing: 0.004rem;
  word-spacing: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  color: #666;
}

.blog-container .blog-card-container {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container .blog-card-container .blog-card {
  width: 280px;
  height: 410px;
  padding: 0 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.blog-card-container .blog-card .card-image {
  width: 100%;
  height: 40%;
  transition: 0.3s ease;
}
.blog-card-container .blog-card .card-image:hover {
  opacity: 0.7;
}

.blog-card-container .blog-card .card-info {
  width: 100%;
  height: 60%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-info .card-title {
  font-size: 1.45rem;
}

.card-info .card-date {
  font-size: 0.84rem;
}

.card-info .card-description {
  letter-spacing: 0.004rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
}

.blog-container .button-container {
  margin-bottom: 100px;
}

/* Contact */
#contact {
}

.contact-wrap {
  display: flex;
  padding: 100px 25px;
  background-color: #bbb;
  justify-content: center;
}

.contact-wrap .contact-info-container {
  width: 45%;
  max-width: 500px;
  height: 350px;
  padding: 30px 15px;
}

.contact-wrap .contact-info-container .info-title {
  font-size: 40px;
}

.contact-wrap .contact-info-container .info-description {
  margin: 30px 0;
  word-break: keep-all;
  letter-spacing: 0.004rem;
  word-spacing: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  color: #666;
}

.contact-wrap .contact-info-container .info-lists {
  list-style-type: none;
  padding: 0;
  color: #666;
}

.contact-info-container .info-lists li {
  margin-bottom: 12px;
}

.info-lists li span {
  color: #111;
  font-weight: bold;
}

.contact-wrap .customer-info-form {
  width: 55%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  padding: 30px 15px;
}

.customer-info-form .name-email-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.customer-info-form .name-email-wrap input {
  width: 47%;
}
.customer-info-form input {
  height: 50px;
  padding: 16px 22px;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  border: none;
}
.customer-info-form input.comment {
  height: 150px;
  padding: 0 22px 100px 22px;
}
.customer-info-form input:focus {
  outline: none;
}

.contact-wrap .customer-info-form .send-btn {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #111;
  color: #fff;
  cursor: pointer;
}

.contact-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 25px 0;
  color: #bbb;
}

.contact-link .icon-container {
  margin-bottom: 12px;
  font-size: 1rem;
}

.contact-link .icon-container i {
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-link .icon-container i:hover {
  color: black;
}

.contact-link p {
  margin-bottom: 1.6rem;
  font-size: 0.95rem;
  font-weight: 400;
}
