@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Nav Bar */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
  align-items: center;
}

.snow-logo {
  /* 193x75 */
  width: 90px;
  height: 35px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  font-size: 14px;
  list-style-type: none;
  margin: 15px;
  cursor: pointer;
}
